:root {
  --font-heading: 24px;
  --font--main: 15px;
  --margin-big: 30px;
  --margin: 10px;
  --margin-small: 5px;
}

#app {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  box-sizing: border-box;
}

footer {
  grid-column: 1/-1;
}

button {
  margin: var(--margin-small);
}

.mainNav {
  font-size: var(--font-heading);
  font-weight: bold;
  grid-column: 1/-1;
  & a {
    text-decoration: none;
    margin: var(--margin);
  }
}

.animeNav {
  font-size: var(--font--main);
  font-weight: bold;
  text-align: center;
  grid-column: 1/-1;
  overflow-x: scroll;
  scrollbar-width: none;
  & a {
    text-decoration: none;
    margin: var(--margin);
  }
}

.buttonBox {
  font-size: var(--font--main);
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  aspect-ratio: 1/5;
  width: 100%;
  height: 5vw;
  gap: 10px;
}

.buttonBox:last-child {
  grid-column: 1/-1;
}

.animeWindow {
  font-size: var(--font--main);
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: var(--margin-big);
  & .animeBox {
    width: 100%;
    text-align: center;
    & img {
      width: 100%;
      aspect-ratio: 1/1.309;
    }
  }
}

.visibilitySwitch,
.descBox {
  font-size: var(--font--main);
  grid-column: 2;
  & .animeDescBox {
    display: grid;
    grid-template-columns: 0.5fr 2.75fr 0.25fr;
    border-bottom: 1px solid black;
    & img {
      aspect-ratio: 1/1.309;
    }
  }
}

#tmpnameShow {
  position: fixed;
  top: calc(100vh - 29vw);
  right: -3vw;
  height: 30vw;
  z-index: 555;
}

@media screen and (max-device-width: 436px) {
  .animeNav {
    grid-column: 1/-1;
    display: flex;
    white-space: nowrap;
  }

  .animeWindow {
    grid-column: 1/-1;
    grid-template-columns: 1fr;
  }

  .visibilitySwitch,
  .descBox {
    grid-column: 1/-1;
  }

  .buttonBox {
    height: 25vw;
    grid-column: 1/-1;
    grid-template-columns: 1fr;
    & .currentPage {
      width: 3em;
    }
    & #searchBar {
      width: 7em;
    }
  }
}
